<% content_for :page_title, "The greatest notes on Noto" %>

<section class="grid">
  <% @posts.each do |post| %>
    <h2>
      <%= link_to post_path(post) do %>
        <%= image_tag post.image.thumb %>
      <% end %>
    </h2>
  <% end %>
</section>

<div class="signup-form">
  <div class="close-icon">
  </div>
  <div class="signup-text">
    <h3>Stay updated!</h3>
    <p>
      New things will come to noto in the near future, don't miss out the news, and sign up if you want to be notofied!
    </p>
  </div>
  <form class="signup-form-input" action="https://remixmonsta.us15.list-manage.com/subscribe/post?u=fba560dcbc1895defee35b6d5&amp;id=949bba4ca1" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <input type="email" name="EMAIL" placeholder="Your email address"/>
    <input type="submit" class="button-primary"/>
  </form>
</div>
