@import "_reset.scss";

// COLORS
$near-black: #111111;
$moon-gray: #cccccc;
$red: #ff4136;
$light-red: #ff725c;

// GENERAL STYLING

:root {
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 1.25;
	color: $near-black;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: $near-black;
}

body {
	margin-top: 8rem;
}

h1 {
	font-size: 3rem;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	z-index: 1;

	h1 {
		padding: 2rem;
		font-weight: 700;
	}

	.new-post-link {
		margin: 2rem;
		color: #fff;
		font-size: 0.875rem;
		text-decoration: none;
		padding: 0.5rem 1rem;
		background-color: $near-black;

		&:hover {
			color: #fff;
			background-color: $moon-gray;
		}
	}
}

.button-primary,
input[type="submit"] {
	font-size: 0.875rem;
	color: #fff;
	background-color: $near-black;
	padding: 0.5rem 1rem;
	width: 12rem;
	cursor: pointer;

	&:hover {
		background-color: $moon-gray;
	}
}

input[type="submit"] {
	margin-top: 1.5rem;
}

.logo {
	width: 100px;
}

.button-secondary,
.button-secondary-image {
	font-size: 0.875rem;
	color: $near-black;
	border: 2px solid $near-black;
	background-color: #fff;
	padding: 0.5rem 1rem;
	width: 12rem;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: $near-black;
		color: #fff;
	}
}

.button-secondary-image {
	border: 1px solid $near-black;
	line-height: 1.8;
}

.button-tertiary {
	font-size: 0.875rem;
	color: $red;
	background-color: #fff;
	border: 2px solid $red;
	padding: 0.5rem 1rem;
	width: 12rem;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: $red;
		color: #fff;
	}
}

// SIGNUP FORM

.signup-form {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: $near-black;
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	justify-content: space-between;
	transform: translateY(150%);
	transition: transform 400ms ease;

	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 0.5rem;
	}

	p {
		line-height: 1.2;
	}

	.signup-text {
		font-size: 1rem;
		color: #fff;
		width: 45%;
	}

	.signup-form-input {
		display: flex;
		align-items: center;
		width: 45%;
	}

	input[type="email"] {
		width: 100%;
		padding: 0.5rem;
		margin-right: 0.5rem;

		&:focus {
			outline: thin dotted;
		}
	}

	.button-primary {
		margin-top: 0;
		line-height: 1.5;
	}

	.close-icon {
		position: absolute;
		cursor: pointer;
		top: -1rem;
		right: 2rem;
		width: 24px;
		height: 24px;
		border: 0.5rem solid $near-black;
		background-image: url(cross.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
		background-color: $near-black;
	}
}

// JS CONNECT

.inside {
	transform: translateY(0%);
}

// MEDIA QUERIES
@media (max-width: 1024px) {
	header {
		.new-post-link {
			margin-right: 0rem;
		}
	}

	// SIGNUP FORM

	.signup-form {
		position: fixed;

		.signup-form-input {
			width: 50%;
		}

		.close-icon {
			width: 16px;
			height: 16px;
			top: 0.75rem;
			right: 0.75rem;
			z-index: 1;
			border: none;
		}
	}
}

@media (max-width: 760px) {
	// SIGNUP FORM
	.signup-form {
		flex-direction: column;
		justify-content: center;

		.signup-form-input {
			display: flex;
			align-items: center;
			width: 100%;
			flex-direction: column;
		}

		input[type="email"] {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 600px) {
	body {
		margin-top: 5rem;
	}

	header {
		padding-left: 1.25rem;
		padding-right: 1.25rem;

		.new-post-link {
			margin-right: 0rem;
		}
	}

	.logo {
		width: 150px;
	}

	.show-page {
		img {
			max-height: 400px;
			max-width: 400px;
			padding-left: 2rem;
		}
	}

	.button-primary,
	.button-secondary-image,
	input[type="submit"] {
		width: 100%;
		height: 48px;
	}

	// SIGNUP FORM
	.signup-form {
		flex-direction: column;
		justify-content: center;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		width: 100%;

		.signup-text {
			font-size: 0.875rem;
			color: #fff;
			width: 100%;
			margin-bottom: 1rem;
		}

		.signup-form-input {
			display: flex;
			justify-content: center;
			width: 100%;
			flex-direction: column;
		}

		input[type="email"] {
			width: 100%;
		}
	}
}
