// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLORS
$near-black: #111111;
$moon-gray: #cccccc;
$red: #ff4136;

.form {
	h2 {
		font-size: 2.25rem;
		font-weight: 700;
		padding-left: 2rem;
		margin-bottom: 2rem;
	}

	form {
		padding-left: 2rem;
		display: flex;
		flex-flow: column;
		width: 50%;
		margin-bottom: 0.5rem;

		input[type="text"],
		input[type="file"],
		textarea {
			width: 50%;
			border: 1px solid;
			padding: 0.5rem;
		}

		h2 {
			padding-left: 0;
		}

		input:focus,
		textarea:focus {
			outline: thin dotted;
		}

		textarea {
			height: 150px;
			display: block;
		}

		label:first-of-type {
			margin-top: 0;
		}

		label {
			margin-top: 1rem;
			font-size: 0.875rem;
			font-weight: 700;
			display: block;
			margin-bottom: 0.5rem;
		}

		.hint {
			margin-top: 0.25rem;
			font-size: 0.875rem;
			color: $moon-gray;
			font-style: italic;
		}
	}
}

.errors {
	background-color: $red;
	color: #fff;
	font-weight: 600;
	width: 50%;
	margin-bottom: 2rem;

	li {
		font-size: 0.875rem;
		list-style-type: none;
		padding: 1rem;
		line-height: 1.4;
		border-bottom: 1px solid #fff;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	// grid-auto-rows: 300px;
	grid-gap: 20px 20px;
	padding-left: 2rem;
	padding-right: 2rem;
	grid-auto-flow: dense;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		border: 2px solid transparent;

		&:hover {
			border-color: #eee;
		}
	}

	img {
		max-height: 300px;
		max-width: 300px;
	}
}

.show-page {
	display: flex;
	flex-wrap: wrap;

	img {
		max-height: 800px;
		max-width: 800px;
		padding-left: 2rem;
	}

	.post-details {
		padding-left: 2rem;
		max-width: 500px;

		h2 {
			font-size: 2.25rem;
			font-weight: 700;
			margin-bottom: 2rem;
		}

		p {
			margin-bottom: 4rem;
			line-height: 1.3;
		}
	}

	.post-actions {
		display: flex;

		.button-tertiary {
			margin-left: 1rem;
		}
	}
}

// MEDIA QUERIES
@media (max-width: 600px) {
	.grid {
		padding-left: 0;
		padding-right: 0;
		grid-template-columns: 1fr;
	}

	.form {
		h2 {
			margin-top: 8rem;
		}

		form {
			padding-left: 2rem;
			padding-right: 2rem;
			width: 100%;
			margin-bottom: 0.5rem;

			input[type="text"],
			textarea {
				width: 100%;
			}

			input:focus,
			textarea:focus {
				outline: thin dotted;
			}

			textarea {
				border: 1px solid;
				height: 150px;
			}

			label {
				font-size: 1rem;
			}
		}
	}

	.show-page {
		flex-direction: column;

		img {
			max-height: 300px;
			max-width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	.show-page {
		margin-bottom: 1rem;

		.post-details {
			padding-right: 2rem;

			h2 {
				font-size: 2.25rem;
				font-weight: 700;
				margin-top: 2rem;
				margin-bottom: 1rem;
				line-height: 1.1;
			}

			p {
				margin-bottom: 2rem;
				line-height: 1.3;
			}
		}
	}
}

@media (max-width: 768px) {
	.show-page {
		margin-bottom: 1rem;

		img {
			max-height: 300px;
			max-width: 300px;
			padding-left: 2rem;
		}
	}
}

@media (max-width: 1024px) {
	.show-page {
		margin-bottom: 1rem;
	}

	.form {
		form {
			width: 100%;
		}
	}

	.post-details {
		padding-right: 2rem;

		h2 {
			margin-top: 2rem;
		}

		p {
			margin-bottom: 3rem;
		}
	}

	.show-page {
		flex-direction: column;
		justify-content: center;

		img {
			max-height: 100%;
			max-width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}
